fastapi==0.116.1
uvicorn[standard]==0.35.0
weaviate-client==4.16.9
sentence-transformers==5.1.0
pydantic-settings==2.10.1
python-multipart==0.0.20
openai==1.99.9
google-cloud-pubsub==2.31.1
pytest==8.4.1
httpx==0.28.1
pytest-cov
ruff
